<main>
  <div class="reproduction-container">
    <img src="https://images.freeimages.com/images/previews/ac9/railway-hdr-1361893.jpg">
    <h2>Corazón Roto - Remix</h2>
    <h6>Brray, Jhayco, Ryan Castro</h6>

    <div class="buttons-container">
      <button mat-button class="arrow-button">
        <mat-icon>skip_previous</mat-icon>
      </button>

      <button mat-button class="resume-button">
        <mat-icon>play_circle</mat-icon>
      </button>

      <button mat-button class="arrow-button">
        <mat-icon>skip_next</mat-icon>
      </button>
    </div>
  </div>

  <div class="queue-container">
    <div class="header">
      <h4>Cua: </h4>
      <div class="button-container">
        <button mat-button>
          <mat-icon>add_circle</mat-icon>
        </button>
        Afegir cançons a la cua
      </div>
    </div>

    <div class="songs-container">
      <div class="song">
        Supernova - Saiko
      </div>
      <div class="song">
        Titerita 4a3 - Juseph
      </div>
      <div class="song">
        Mamichula - Quevedo, Jhayco
      </div>
    </div>

  </div>
</main>
